.girdicon{
    width: 20%;
    outline: none;
}

h1.example-app-name {
    margin-left: 8px;
    background-color: paleturquoise;
    }
    .profile
  {
    outline: none;
      background-size: cover
  }

  .backgroundimage {
    width: auto;
    height: auto;
  }


  .mat-toolbar-row, .mat-toolbar-single-row {
    height: 64px;
    background-color: white;
    width:100%;
}
.changeProfile {
    bottom: 0;
    color: #fff;
    font-size: 9px;
    font-weight: bold;
    left: 0;
    line-height: 9px;
    position: absolute;
    padding: 7px 0;
    text-align: bottom;
    width: 96px;
    margin-left: -15px;
  }
  .signout {
    margin-left: auto;
    margin-right: auto;
    margin-left: 130px;
  }
  .profileName {
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    display: block;
    padding: 0px;
    margin-left: 23px;
    margin-top: -55px;
    font-family: "Times New Roman";
    font-weight: bold;
  }
  
  .profileEmail {
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    display: block;
    padding: 34px;
    margin-left: 33px;
    margin-top: -28px;
    opacity: 0.6;
  }
  
  .imageSelect {
    margin-left: 7px;
  }
  
  .signoutMenu{
    width: 100%;
    border:0px;
    outline: none
  }

