<mat-card class="example-card"> 
<div  *ngIf="!isOpen"  (click)= "isOpen=true" >
<input class="take_a_note" [formControl]="title" type="text" style="width: 560px; outline: none" placeholder="Take a note..." aria-label="Take a note" >
</div>
<div *ngIf=isOpen>
<!-- <img class="image" mat-card-image src="{{picture.url}}" alt="photo"> -->
<textarea [formControl]="title" style="width: 560px; outline: none" placeholder="Title"></textarea>
<textarea   [formControl]=" take_a_note" style="width: 560px; outline: none" placeholder="Take a note..." ></textarea>
<div>
<button mat-button  (click)="isOpen=false"  class="closeButton" (click)="AddNotes()">close</button>
<app-iocns-on-note></app-iocns-on-note>
</div>
</div> 
</mat-card>