.closeButton{
    left:6cm;
   /* margin-top:-2cm; */
}

.pinIcon{
    border: none;
    resize: none;
     outline: none
}
.takeanoteIcon:not(.iconlist):hover{
    opacity: 1;
}
.title{
    width: 560px;
     outline: none;
     border: 0; 
}