<!-- {{note.title}} -->

<div > 
        <img src="{{note.image}}" class="notesImage" />
    </div>
      <div>
        <textarea  placeholder="Title" class="dialog" [(ngModel)]="note.title" ></textarea>
      </div>
      
      <div>
        <textarea  placeholder="Take a note" class="dialog" [(ngModel)]="note.description" ></textarea>
      </div>
      <div>
        <button mat-button  (click)="isOpen=false"  class="closeButton" (click)="  onNoClick()">close</button>
      <app-iocns-on-note [card]="note"></app-iocns-on-note>
    </div>
    
     
    
     